<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hasil Klasifikasi</title>
</head>
<body>
    <h1>Hasil Klasifikasi</h1>
    <p>age = {{ data['age'] }}</p>
    <p>balance = {{ data['balance'] }}</p>
    <p>active = {{ data['active'] }}</p>
    <p>france = {{ data['france'] }}</p>
    <p>germany = {{ data['germany'] }}</p>
    <p>spain = {{ data['spain'] }}</p>
    <p>female = {{ data['female'] }}</p>
    <p>male = {{ data['male'] }}</p>
    <p>Hasil Klasifikasi (0: Tidak Tutup Akun; 1: Tutup Akun) = {{ prediksi }}</p>

</body>
</html>